---
import { getTypeColorByPokemonTypeName } from "../utils/pokemon-types";
import Pokedex from "pokedex-promise-v2";
import BadgePokemonType from "./ui/badge-pokemon-type.astro";

interface Props {
  pokemonName: string;
}

const { pokemonName } = Astro.props;

const p = new Pokedex();

const pokemon = await p.getPokemonByName(pokemonName);

const [firstPokemonType] = pokemon.types;

const backgroundColor = getTypeColorByPokemonTypeName(
  firstPokemonType.type.name,
);
---

<a
  href={`/pokemon/${pokemon.name}`}
  class="hover:scale-105 transition-transform ease-in-out w-full"
>
  <article class="relative w-full flex flex-col gap-2">
    <div
      class={`relative w-full h-72 flex justify-center items-center overflow-visible   rounded-xl`}
      transition:name={`pokemon ${pokemon.name} box`}
      style={{
        backgroundColor: backgroundColor ?? undefined,
      }}
    >
      <div
        class="absolute inset-0 -z-10 h-full w-ful bg-transparent bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:48px_48px]"
      >
      </div>
      <img
        class="z-10 scale-125"
        transition:name={`${pokemon.name} image`}
        src={pokemon.sprites.other.dream_world.front_default!}
        width={200}
        height={60}
        alt={pokemon.name}
      />

      <img
        src={"public/images/pokeball.webp"}
        class="absolute bottom-0 right-0 rounded-2xl"
      />
    </div>

    <div class="flex items-end justify-between">
      <div
        transition:name={`${pokemon.name} header`}
        class="flex flex-col gap-1"
      >
        <span
          transition:name={`${pokemon.name} ${pokemon.order} order`}
          class="text-base text-gray-400 leading-none"
          >#{pokemon.order.toString().padStart(3, "0")}</span
        >

        <h2
          transition:name={`${pokemon.name} title`}
          style={{
            color: backgroundColor ?? undefined,
          }}
          class="text-2xl font-semibold first-letter:uppercase leading-none"
        >
          {pokemon.name}
        </h2>
      </div>

      <ul class="flex items-center gap-1">
        {
          pokemon.types.map(({ type }) => (
            <li>
              <BadgePokemonType type={type.name} onlyIcon />
            </li>
          ))
        }
      </ul>
    </div>
  </article>
</a>
